
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #1ae8bf;
}


.flex-container>div {
    background-color: #ffffff;
    margin: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}



/* Responsive layout - makes a one column-layout instead of two-column layout */
/*@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}*/